/* Extra Small Devices */
@media (max-width: 576px) {


/* ========== general all heading ===================*/    
.horizontal-heading h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: #6255a5;
    margin-bottom: 25px;
}

.horizontal-heading-sm h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5
}
    
/* =============== button ============= */
.general-btn {
    font-size: 15px;
    line-height: 20px;
    height: 30px;
    width: 120px;
}

.table-search-btn {
    font-size: 15px;
    line-height: 18px;
    height: 30px;
    width: 100%;
}
    
    #members input[type=search] {
        height: 30px;
    }
    
/* ============================== general for form ======================*/
.form-group label {
    font-size: 13px;
    line-height: 17px;
}

.form-group input::-webkit-input-placeholder {
    font-size: 13px;
    line-height: 17px;
}

.form-group input {
    width: 100%;
    height: 30px;
    margin: 0px 20px 0px 0px;
}

.form-group input[type=date],
.form-group select {
    height: 30px;
}
    
/* ============================ footer ================================= */
    
.footer-text p,
.footer-icon p{
    font-size: 14px;
}
    
/* ============================ pagination (comman) ===============================*/
.pagination {
    margin: 30px 0px;
   
}

li.page-item {
    margin: 0 2px;
}

.page-link i {
    font-size: 16px;
    line-height: 20px;
}

a.page-link {
    font-size: 16px;
    line-height: 20px;
}

.page-link:focus, .page-link:hover {
    line-height: 18px;
}

.pagination a {
    margin: 2px 2px;
}
    
    
/* ======================================== Navigation ========================================== */
    .navbar {
        display: block;
    }

    nav .container {
        max-width: 100%;
        margin: 0 !important;
    }

    .navbar-brand {
        padding-left: 20px;
    }

    #navbarSupportedContent {
        background: #fff;
    }

    .navbar-toggler {
        padding-right: 20px !important;
    }

    nav .dropdown-menu {
        border: none;
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    nav li.profile-dropdown .dropdown-menu a.logout:hover {
        color: #6255a5;
    }

    nav .dropdown-item {
        padding: 9px 18px;
        font-size: 14px;
    }

    nav .dropdown-menu .dropdown-item:hover,
    nav .dropdown-menu .dropdown-item:focus,
    nav .dropdown-menu .dropdown-item:active {
        color: #6255a5;
        background-color: #fff;
    }

    nav .profile-dropdown div.dropdown-menu.show,
    nav .notes-dropdown div.dropdown-menu.show,
    nav .reports-dropdown div.dropdown-menu.show,
    nav .setting-dropdown div.dropdown-menu.show {
        -webkit-transform: translate3d(15px, 0, 0) !important;
        transform: translate3d(15px, 0, 0) !important;
    }

    ul.navbar-nav {
        padding: 0 10px;
        margin-top: 15px;
    }

    ul.navbar-nav li {
        margin-bottom: 15px;
    }
    
    
/* ================== Login ===================== */
/* ================== forgot password ==================== */
.form-content{
    padding: 15px 25px;
}

.white-box{
    width: 350px;
}

.login-heading h3,
.forgot-password-heading h3
{
    font-size: 24px;
    line-height: 30px;
}

.login-heading p,
.forgot-password-heading p {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 20px;
}

    #passwordHelpBlock  {
        font-size: 12px;
    }
    .sign-up-text {
        font-size: 13px;
    }

.password-forgotpass a {
    color: #6255a5;
     font-size: 13px;
    line-height: 17px;
}

.form-check .form-check-input {
    border: 1px solid #d1d1d1;
    height: 20px;
    width: 20px;
    margin-top: 3px;
    border-radius: 3px;
}

.form-check .form-check-label {
    font-size: 13px;
    line-height: 17px;
    margin: -38px 0px 10px 30px;
}

.pre-login-btns {
    height: 27px;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 20px;
}
    
.form-group input[type=email],
.form-group input[type=password],
.form-group input[type=text] {
    width: 100%;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #000;
}

#signup .success{
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    color: green;
}

.form-group .forgot-password {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 150px;
    color: #6255a5;
    float: right;
}

    .field-icon {
    width: 22px;
    height: 16px;
    top: -23px;
}

    
/* ============= manage Administration ========== */
    .add-administrator-btn,
    .add-category-btn,
    .add-country-btn,
    .add-type-btn {
    font-size: 15px;
    line-height: 16px;
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
}

#manage-administrator .form-group input {
    height: 30px;
}
    
    tr {
        height: 20px;
    }
    
/* ==================  add administration =================== */
    .form-group select#country-code {
        padding: 5px;
        font-size: 13px;
        line-height: 15px;
    }

    
    
    
/* ================== Members Detail =============================== */
.horizontal-heading-sm{
    padding-right: 20px;
    padding-left: 20px;
}
    
    .member-image {
        padding-left: 50px;
    }
    
    .member-bio {
    padding: 0px 0px 0px 0px;
        margin-top: 20px;
        margin-left: 20px;
}
    .member-detail-rigt {
    padding: 0px 2px 0px 2px;
    margin-top: 15px;
}
    
    .member-bio-detail-right {
    border-right: none;
    padding-right: 10px;
}
    
    .member-bio-detail-right .left-side{
    padding-right: 0px;
    padding-left: 10px;
}

.member-bio-detail-right .right-side{
    padding-left: 0px;
}
    
.left-side p,
.right-side p{
    font-size: 12px;
    line-height: 20px;
}
    
/* ======================== notes under review ==================== */
    #notes-under-review .form-group {
        margin-bottom: 0px;
    }
    
    .search-kit {
        margin-bottom: 15px;
    }
    
    input[type=search]#search {
        height: 30px;
    }
    

/* ====================== downloaded notes ======================= */
#downloaded-notes .form-group select {
    height: 30px;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 16px;
}
    #downloaded-notes .form-group {
        margin-bottom: 7px;
    }

    
 /* ============================== dashboard ======================= */   
    .dashboard-box-outer {
        margin-bottom: 13px;
    }
    
    .heading-numeric {
    font-size: 25px;
    line-height: 25px;
}
    .notes-earning-info p {
        font-size: 15px;
    }
    
    #dashboard-published-notes .horizontal-heading-sm {
        padding-left: 0px;
    }
    
    #dashboard-published-notes .form-group select#month {
        padding: 5px;
        font-size: 14px;
        line-height: 15px;
    }
    
    
        
/* =================== Note Detail ======================== */
    
.note-image img {
    height: 240px;
    width: 190px;
}

.note-image
{
    padding-right: 20px;
    padding-left: 30px;
    margin: 0px 4px;
}

.horizontal-heading-sm{
    padding-left: 30px;    
} 

.note-heading h2 {
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 5px;
}

.note-heading p {
    font-size: 16px;
    line-height: 26px;
    margin: 0px 0px 18px 0px;
}
    
.note-description p {
    font-size: 12px;
    margin-bottom: 18px;
}

.btn-download {
    width: 170px;
    height: 30px;
    font-size: 15px;
    line-height: 4px;
    padding: 12px 20px;
    text-transform: capitalize;
}
    
.note-detail-rigt {
    margin-top: 20px;    
}
    
.left-side p,
.right-side p{
    font-size: 13px;
    color: #333333;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 3px;
}
    
.right-side p {
    color: #6255a5;
    font-weight: 600;
}

.right-side {
    text-align: left;
}
    
.bottom-border {
    border-bottom: 2px solid #d1d1d1;
    margin: 20px 18px 0px 18px;
}

.note-preview {
    padding-top: 0px;
}

.note-preview-left {
   margin: 0px 20px;
}
.note-preview-left .horizontal-heading-sm,
.note-preview-right .horizontal-heading-sm{
    padding-left: 0px;
}
.preview {
    padding: 0px 20px;
}
    
    .note-preview-right {
        margin-top: 25px;
        margin-left: 10px;
    }
.note-detail-preview {
    border: 1px solid #333333;
    border-radius: 3px;
    width: 100%;
    height: 450px;
}
    

.review-container {
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    height: 460px;
    margin: 1px;
}
    .review {
        padding: 5px;
    }

    .review-detail  {
        padding-right: 5px;
        padding-left: 20px;
    }
    .user-image  {
        padding-left: 10px;
    }
.review-detail h4 {
    margin-bottom: 3px;
    font-size: 16px;
}

.review-detail p {
    font-size: 12px;
    line-height: 18px;
}
    
    
/* thanks modal */

.modal-header {
    padding: 8px;
}

.modal-title {
    margin: 20px 10px 0px 10px;
}

.modal-body {
    padding: 0px 35px 20px 25px;
}
.modal-title img {
    width: 50px;
    height: 50px; 
    text-align: center;
    margin-bottom: 5px;
}

.modal-title h3 {
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
    color: #6255a5;
    display: inline-block;
    text-align: center;
}
    
.modal-body p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #333333;
}

.modal-body h5 {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;
}

}

/* ================================================================================= */
@media (max-width: 344px) {
   .form-group input[type=text]#phone-number {
        margin-top: 13px;
    } 
}

/* ==================== for member detail fonts =================== */
@media (min-width: 400px) and (max-width: 575px) {
   .left-side p,
.right-side p{
    font-size: 15px;
    line-height: 25px;
}
}


/* ==================== for phone number type input type =================== */
@media (min-width: 344px) and (max-width: 448px) {
   #add-administrator .form-group input[type=text]#phone-number {
        margin-top: 13px;
    } 
}


/* ================================== Small devices (landscape phones, 576px and up) ================================= */
@media (min-width: 576px) and (max-width: 768px) { 
    
/* ========== general all heading ===================*/    
.horizontal-heading h3 {
    font-size: 26px;
    line-height: 30px;
}

.horizontal-heading-sm h3 {
    font-size: 26px;
    line-height: 28px;
}
    
.table-search-btn {
    font-size: 16px;
}
    

/* ============================== general for form ======================*/
.form-group label {
    font-size: 14px;
    line-height: 18px;
}

.form-group input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 18px;
}

.form-group input {
    height: 38px;
    margin: 0px 15px 0px 0px;
}

.form-group input[type=date],
.form-group select {
    height: 38px;
}
    
    .field-icon {
    width: 24px;
    height: 17px;
    top: -28px;
}
    

/* =================================== Navigation ============================================= */
    .navbar {
        display: block;
    }

    nav .container {
        max-width: 100%;
        margin: 0 !important;
    }

    .navbar-brand {
        padding-left: 20px;
    }

    #navbarSupportedContent {
        background: #fff;
    }

    .navbar-toggler {
        padding-right: 20px !important;
    }

    nav .dropdown-menu {
        border: none;
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    nav li.profile-dropdown .dropdown-menu a.logout:hover {
        color: #6255a5;
    }

    nav .dropdown-item {
        padding: 9px 18px;
        font-size: 14px;
    }

    nav .dropdown-menu .dropdown-item:hover,
    nav .dropdown-menu .dropdown-item:focus,
    nav .dropdown-menu .dropdown-item:active {
        color: #6255a5;
        background-color: #fff;
    }

    nav .profile-dropdown div.dropdown-menu.show,
    nav .notes-dropdown div.dropdown-menu.show,
    nav .reports-dropdown div.dropdown-menu.show,
    nav .setting-dropdown div.dropdown-menu.show {
        -webkit-transform: translate3d(15px, 0, 0) !important;
        transform: translate3d(15px, 0, 0) !important;
    }

    ul.navbar-nav {
        padding: 0 10px;
        margin-top: 15px;
    }

    ul.navbar-nav li {
        margin-bottom: 15px;
    }
    
/* ================ manage administration  ============== */
.add-administrator-btn,
.add-category-btn,
    .add-country-btn,
    .add-type-btn {
    margin-bottom: 15px;
}
  
    
/* ================================== note detail =================== */
    
.note-image img {
    height: 270px;
    width: 200px;
}


.note-heading h2 {
    font-size: 28px;
    line-height: 24px;
    margin-bottom: 10px;
}

.note-description p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 16px;
}

.btn-download {
    width: 190px;
    height: 40px;
    font-size: 16px;
    line-height: 14px;
    padding: 12px 20px;
}
    

.note-detail-right {
    margin-top: 30px;    
}
        
.note-preview-right {
    margin-top: 30px;
    margin-left: 0px;
}
/* ================== Members Detail =============================== */
.horizontal-heading-sm{
    padding-right: 20px;
    padding-left: 10px;
}
    
.member-image {
    margin-top: 15px;
        padding-left: 10px;
    }
    
   .member-bio {
    padding: 0px 0px 0px 0px;
        margin-top: 8px;
        padding-left: 15px;
}
    
    .member-bio-detail-right {
    border-right: none;
}

    .member-bio-detail-right .right-side{
    padding-left: 2px;
}

       .member-detail-rigt {
    padding: 0px;
    margin-top: 25px;
}
    
/* ====================== downloaded notes ======================= */
#downloaded-notes .form-group select {
    height: 35px;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 11px;
}
    #downloaded-notes .form-group {
        margin-bottom: 7px;
    }
   
    
/* ============================== dashboard ======================= */   
    .dashboard-box-outer {
        margin-bottom: 13px;
    }

    

}

/* =============================================== Medium devices (tablets, 768px and up) ==========================================*/
@media (min-width: 768px) and (max-width: 992px) { 

    .form-group input[type=text]#phone-number {
        margin-top: 17px;
    } 
    
    
    
    
/* ======================================== Navigation ================================ */
    .navbar {
        display: block;
    }

    nav .container {
        max-width: 100%;
        margin: 0 !important;
    }

    .navbar-brand {
        padding-left: 20px;
    }

    #navbarSupportedContent {
        background: #fff;
    }

    .navbar-toggler {
        padding-right: 20px !important;
    }

    nav .dropdown-menu {
        border: none;
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    nav li.profile-dropdown .dropdown-menu a.logout:hover {
        color: #6255a5;
    }

    nav .dropdown-item {
        padding: 9px 18px;
        font-size: 14px;
    }

    nav .dropdown-menu .dropdown-item:hover,
    nav .dropdown-menu .dropdown-item:focus,
    nav .dropdown-menu .dropdown-item:active {
        color: #6255a5;
        background-color: #fff;
    }

    nav .profile-dropdown div.dropdown-menu.show,
    nav .notes-dropdown div.dropdown-menu.show,
    nav .reports-dropdown div.dropdown-menu.show,
    nav .setting-dropdown div.dropdown-menu.show {
        -webkit-transform: translate3d(15px, 0, 0) !important;
        transform: translate3d(15px, 0, 0) !important;
    }

    ul.navbar-nav {
        padding: 0 10px;
        margin-top: 15px;
    }

    ul.navbar-nav li {
        margin-bottom: 15px;
    }


    /* ================== Members Detail =============================== */
    .member-bio-detail-right {
    border-right: none;
}
    
    
    /* ==================================== note detail ======================================== */
    
.note-detail-right {
    margin-top: 30px;    
}

    .preview {
        padding: 0px 15px;
    }
    .note-preview-left {
        margin-right:  10px;
    }
    .note-preview-right {
        margin-left: 10px;
    }
    
.review {
    padding: 6px;
}
    
.note-detail-preview {
    height: 560px;
}
.review-container {
    height: 560px;
}


}


@media (min-width: 845px) and (max-width: 1090px) {
    #downloaded-notes .table-search-btn {
        font-size: 13px;
        padding: 6px 5px;
    } 
}


/* ================================= Large devices (desktops, 992px and up) ===================================================*/
@media (min-width: 992px) and (max-width: 1200px) { 

.member-detail-rigt {
    padding: 0px;
    margin-top: 25px;
}

 /* ==================================== note detail ======================================== */
    .note-image img {
    height: 280px;
    width: 220px;
}
    
    /* ================================= Navigation Bar ================================== */
    #navbarSupportedContent .nav-item {
        padding: 0 10px;
    }

    /*--------------- DropDowns --------------*/
    nav .profile-dropdown div.dropdown-menu.show {
        -webkit-transform: translate3d(525px, 0, 0) !important;
        transform: translate3d(525px, 0, 0) !important;
    }

    nav .notes-dropdown div.dropdown-menu.show {
        -webkit-transform: translate3d(190px, 0, 0) !important;
        transform: translate3d(190px, 0, 0) !important;
    }

    nav .reports-dropdown div.dropdown-menu.show {
        -webkit-transform: translate3d(380px, 0, 0) !important;
        transform: translate3d(380px, 0, 0) !important;
    }
    
    nav .setting-dropdown div.dropdown-menu.show {
        -webkit-transform: translate3d(400px, 0, 0) !important;
        transform: translate3d(400px, 0, 0) !important;
    }
    


/* ============================================= X-Large devices (large desktops, 1200px and up) =========================================*/
@media (min-width: 1200px) and (max-width: 1400px) { ... }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    
}